# Feature Selection
"Two variables are **redundant** if they present the same impact over the ongoing discovery process"

"A variable is **irrelevant** if it is not useful for discriminating amongst target variables"

## QSAR Oral Toxicity Dataset

### Imports and data loading

In [122]:
import pandas as pd
import matplotlib.pyplot as plt
import ds_functions as ds
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_classif, mutual_info_classif
from sklearn.feature_selection import RFE
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTENC, SMOTE
import csv
import numpy as np
import seaborn as sns

data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    
    
y = data.pop(1024)
X = data

data.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Univariate Selection
"Statistical tests can be used to select those features that have the strongest relationship with the output variable." - https://towardsdatascience.com/feature-selection-techniques-in-machine-learning-with-python-f24e7da3f36e

Univariate feature selection works by selecting the best features based on univariate statistical tests. It can be seen as a preprocessing step to an estimator. - https://scikit-learn.org/stable/modules/feature_selection.html

#### ANOVA 
ANOVA is an acronym for “analysis of variance” and is a parametric statistical hypothesis test for determining whether the means from two or more samples of data (often three or more) come from the same distribution or not.

In [123]:
anova_selector = SelectKBest(f_classif, k=800)
anova_selector.fit(X, y)
anova_support = anova_selector.get_support()
anova_feature = X.loc[:,anova_support].columns.tolist()
print(str(len(anova_feature)), 'selected features')
print(anova_feature)

800 selected features
[0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 46, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 97, 99, 100, 101, 103, 104, 106, 107, 108, 109, 111, 112, 113, 114, 116, 118, 120, 123, 124, 125, 126, 127, 128, 129, 130, 131, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 151, 155, 157, 158, 160, 161, 163, 164, 166, 167, 168, 169, 170, 172, 173, 174, 176, 179, 180, 182, 183, 184, 185, 188, 189, 190, 191, 192, 193, 194, 195, 196, 201, 202, 203, 205, 206, 207, 208, 209, 211, 212, 213, 214, 215, 216, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 245, 246, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 263, 265, 266, 267, 268, 269, 270, 271, 272, 273, 275, 277, 278, 280, 282, 283, 284, 285, 287, 288, 289, 291, 292, 293, 294, 296, 297, 298, 300, 301, 302, 303, 305, 306, 307, 309, 310, 311, 313, 314, 315, 316, 317, 320, 321, 323, 324, 327, 328, 329, 330, 331, 332, 334, 335, 336, 337, 338, 339, 340, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 354, 355, 356, 357, 359, 360, 362, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 379, 380, 382, 383, 384, 385, 386, 387, 389, 390, 391, 393, 394, 396, 397, 398, 399, 400, 401, 402, 403, 404, 407, 408, 409, 410, 411, 414, 419, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 441, 442, 443, 444, 447, 449, 450, 451, 452, 453, 454, 455, 457, 459, 461, 462, 466, 467, 468, 470, 471, 473, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 487, 488, 489, 490, 493, 494, 495, 496, 498, 499, 500, 501, 502, 503, 505, 506, 507, 509, 510, 511, 512, 513, 514, 515, 517, 518, 519, 521, 524, 525, 526, 527, 528, 529, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 543, 544, 545, 546, 548, 549, 551, 552, 553, 554, 556, 557, 558, 559, 562, 563, 564, 565, 566, 567, 568, 569, 571, 572, 573, 574, 575, 576, 577, 578, 580, 581, 582, 583, 585, 587, 588, 589, 590, 591, 592, 593, 594, 596, 597, 598, 600, 601, 603, 604, 605, 606, 607, 608, 609, 610, 612, 613, 614, 615, 618, 619, 620, 621, 624, 625, 626, 628, 629, 631, 632, 633, 636, 638, 639, 640, 641, 642, 644, 645, 646, 647, 649, 650, 651, 652, 653, 654, 655, 657, 660, 661, 662, 663, 664, 665, 666, 667, 669, 670, 671, 672, 673, 675, 676, 677, 678, 679, 680, 681, 682, 684, 685, 686, 688, 689, 690, 691, 692, 695, 696, 697, 699, 701, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 720, 721, 722, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 737, 738, 739, 740, 741, 742, 744, 745, 746, 747, 749, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 762, 763, 764, 765, 768, 769, 771, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 784, 785, 786, 789, 790, 793, 794, 795, 797, 798, 799, 801, 802, 805, 806, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 820, 821, 822, 823, 824, 825, 827, 828, 829, 831, 832, 833, 834, 835, 836, 837, 839, 840, 841, 842, 843, 844, 846, 847, 848, 851, 853, 854, 855, 856, 857, 859, 860, 861, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 884, 885, 886, 887, 888, 889, 890, 894, 895, 896, 897, 898, 899, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 924, 926, 928, 929, 930, 931, 932, 934, 935, 936, 937, 938, 939, 941, 943, 944, 945, 948, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 965, 966, 967, 968, 970, 971, 972, 973, 975, 976, 977, 979, 980, 981, 982, 984, 985, 986, 987, 988, 989, 990, 992, 994, 995, 996, 997, 999, 1001, 1002, 1003, 1005, 1007, 1008, 1009, 1010, 1012, 1014, 1015, 1016, 1017, 1018, 1019, 1023]

In [124]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    

store_data = data.copy()
for col in data.columns.tolist():
    if col not in anova_feature and col != 1024:
        store_data.drop(col, axis=1, inplace=True)
len(store_data.columns)
store_data.to_csv(r'../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_anova.csv',sep=';', index=False, header=False)
store_data.head()

,0,1,2,3,5,6,7,9,10,11,...,1010,1012,1014,1015,1016,1017,1018,1019,1023,1024
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,negative
3,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative

#### Chi-Squared - Filter
"We calculate the chi-square metric between the target and the numerical variable and only select the variable with the maximum chi-squared values." - https://towardsdatascience.com/the-5-feature-selection-algorithms-every-data-scientist-need-to-know-3a6b566efd2

In [125]:
chi_selector = SelectKBest(chi2, k=800)
chi_selector.fit(X, y)
chi_support = chi_selector.get_support()
chi_feature = X.loc[:,chi_support].columns.tolist()
print(str(len(chi_feature)), 'selected features')
print(chi_feature)

800 selected features
[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 46, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 97, 99, 100, 101, 103, 104, 106, 107, 108, 109, 111, 112, 113, 114, 116, 118, 120, 123, 124, 125, 126, 127, 128, 129, 130, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 151, 155, 157, 158, 160, 161, 163, 164, 166, 167, 168, 169, 170, 171, 172, 173, 174, 176, 179, 180, 182, 183, 184, 185, 188, 189, 190, 191, 192, 193, 194, 195, 196, 201, 202, 203, 205, 206, 207, 208, 209, 211, 212, 213, 214, 215, 216, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 245, 246, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 261, 263, 265, 266, 267, 268, 269, 270, 271, 272, 273, 275, 277, 278, 280, 282, 283, 284, 285, 287, 288, 289, 291, 292, 293, 294, 296, 297, 298, 300, 301, 302, 303, 305, 306, 307, 309, 310, 311, 313, 314, 315, 316, 317, 320, 321, 323, 324, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 354, 355, 356, 357, 359, 360, 362, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 379, 380, 382, 383, 384, 385, 386, 387, 389, 390, 391, 393, 394, 396, 397, 398, 399, 400, 401, 402, 403, 404, 407, 408, 409, 410, 411, 414, 419, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 441, 442, 443, 444, 445, 447, 449, 450, 451, 452, 453, 454, 455, 457, 459, 461, 462, 466, 467, 468, 470, 471, 473, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 487, 488, 489, 490, 493, 494, 495, 496, 498, 499, 500, 501, 502, 503, 505, 506, 507, 509, 510, 511, 512, 513, 514, 515, 517, 518, 519, 521, 524, 525, 526, 527, 528, 529, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 543, 544, 545, 546, 548, 549, 551, 552, 553, 554, 556, 557, 558, 559, 562, 563, 564, 565, 566, 567, 568, 569, 571, 572, 573, 574, 575, 576, 577, 578, 580, 581, 582, 583, 585, 587, 588, 589, 590, 591, 592, 593, 594, 596, 597, 598, 600, 601, 603, 604, 605, 606, 607, 608, 609, 610, 612, 613, 614, 615, 618, 619, 620, 621, 624, 625, 626, 628, 629, 631, 632, 633, 636, 638, 639, 640, 641, 642, 644, 645, 646, 647, 649, 650, 651, 652, 653, 654, 655, 657, 660, 661, 662, 663, 664, 665, 666, 667, 669, 670, 671, 672, 673, 675, 676, 677, 678, 679, 680, 681, 682, 684, 685, 686, 688, 689, 690, 691, 692, 695, 696, 697, 699, 701, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 720, 721, 722, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 737, 738, 739, 740, 741, 742, 744, 745, 746, 747, 749, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 762, 763, 764, 765, 768, 769, 771, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 784, 785, 786, 789, 790, 793, 794, 795, 797, 798, 799, 801, 802, 805, 806, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 820, 821, 822, 823, 824, 825, 827, 828, 829, 831, 832, 833, 834, 835, 836, 837, 839, 840, 841, 842, 843, 844, 846, 847, 848, 851, 853, 854, 855, 856, 857, 859, 860, 861, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 884, 885, 886, 887, 888, 889, 890, 894, 895, 896, 897, 898, 899, 903, 904, 905, 906, 907, 908, 909, 910, 911, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 924, 926, 928, 929, 930, 931, 932, 934, 935, 936, 937, 938, 939, 941, 943, 944, 945, 948, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 965, 966, 967, 968, 970, 971, 972, 973, 975, 976, 977, 979, 981, 982, 984, 985, 986, 987, 988, 989, 990, 992, 994, 995, 996, 997, 999, 1001, 1002, 1003, 1005, 1007, 1008, 1009, 1010, 1012, 1014, 1015, 1016, 1017, 1018, 1019, 1023]

In [126]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    

store_data = data.copy()
for col in data.columns.tolist():
    if col not in chi_feature and col != 1024:
        store_data.drop(col, axis=1, inplace=True)

store_data.to_csv(r'../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_chi.csv',sep=';', index=False, header=False)
store_data.head()

,0,1,2,3,4,5,6,7,9,10,...,1010,1012,1014,1015,1016,1017,1018,1019,1023,1024
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,negative
1,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,negative
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,negative
3,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,negative
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative

#### Mutual Information - Filter
Mutual information from the field of information theory is the application of information gain (typically used in the construction of decision trees) to feature selection.

Mutual information is calculated between two variables and measures the reduction in uncertainty for one variable given a known value of the other variable.

In [127]:
mutual_selector = SelectKBest(mutual_info_classif, k=800)
mutual_selector.fit(X, y)
mutual_support = mutual_selector.get_support()
mutual_feature = X.loc[:,mutual_support].columns.tolist()
print(str(len(mutual_feature)), 'selected features')
print(mutual_feature)

800 selected features
[1, 2, 3, 5, 7, 12, 13, 14, 16, 19, 20, 21, 22, 25, 32, 33, 35, 36, 37, 38, 39, 43, 44, 48, 50, 51, 52, 53, 54, 55, 59, 61, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 77, 80, 82, 84, 85, 87, 89, 90, 91, 92, 93, 95, 98, 100, 102, 103, 104, 105, 106, 107, 109, 110, 112, 114, 117, 119, 121, 122, 123, 125, 126, 127, 129, 130, 131, 133, 135, 137, 138, 140, 147, 148, 150, 151, 153, 154, 155, 159, 163, 164, 166, 167, 168, 170, 172, 174, 176, 177, 178, 179, 182, 185, 187, 188, 191, 194, 196, 198, 199, 201, 202, 203, 206, 207, 208, 212, 213, 214, 215, 217, 218, 222, 223, 225, 226, 228, 231, 234, 236, 239, 240, 245, 246, 247, 248, 251, 252, 253, 254, 255, 259, 261, 262, 263, 264, 265, 270, 271, 272, 273, 274, 277, 278, 281, 282, 283, 287, 288, 291, 292, 296, 301, 302, 303, 304, 305, 307, 308, 309, 311, 314, 315, 317, 318, 319, 320, 323, 324, 326, 327, 330, 331, 333, 335, 337, 338, 339, 340, 341, 342, 343, 344, 347, 348, 349, 350, 351, 352, 358, 361, 362, 366, 367, 369, 370, 372, 373, 375, 376, 379, 382, 383, 385, 390, 391, 392, 393, 396, 397, 398, 399, 400, 401, 402, 403, 406, 407, 408, 409, 411, 412, 413, 414, 415, 417, 418, 421, 423, 425, 426, 427, 430, 431, 432, 433, 434, 436, 437, 438, 439, 441, 442, 444, 447, 448, 449, 451, 452, 453, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 473, 474, 475, 476, 479, 480, 481, 482, 483, 485, 487, 490, 493, 494, 495, 496, 497, 498, 499, 500, 501, 503, 505, 506, 507, 508, 509, 511, 513, 515, 516, 517, 519, 521, 523, 525, 526, 527, 528, 530, 531, 533, 534, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023]

In [128]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    

store_data = data.copy()
for col in data.columns.tolist():
    if col not in mutual_feature and col != 1024:
        store_data.drop(col, axis=1, inplace=True)

store_data.to_csv(r'../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_mutual.csv', sep=';',index=False, header=False)
store_data.head()

,1,2,3,5,7,12,13,14,16,19,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
2,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,negative
3,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
4,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,negative

#### Mixing

In [129]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    
    
y = data.pop(1024)
X = data

# put all selection together
feature_selection_df = pd.DataFrame({'Feature':X.columns.tolist(), 'ANOVA':anova_support, 'Chi-2':chi_support, 'Mutual': mutual_support})
# count the selected times for each feature
feature_selection_df['Total'] = feature_selection_df.drop('Feature', axis=1).sum(axis=1)

feature_selection_df = feature_selection_df.sort_values(['Total','Feature'] , ascending=False)
feature_selection_df.index = range(1, len(feature_selection_df)+1)
feature_selection_df.head()

   Feature  ANOVA  Chi-2  Mutual  Total
1     1023   True   True    True      3
2     1019   True   True    True      3
3     1018   True   True    True      3
4     1017   True   True    True      3
5     1016   True   True    True      3

In [130]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    

feature_selection_df.drop(feature_selection_df[feature_selection_df.Total < 2].index, inplace=True)

store_data = data.copy()
for col in data.columns.tolist():
    if col not in feature_selection_df['Feature'].tolist() and col != 1024:
        store_data.drop(col, axis=1, inplace=True)

store_data.to_csv(r'../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_mixed.csv', index=False,sep=';', header=False)
store_data.head()

,0,1,2,3,5,6,7,9,10,11,...,1010,1012,1014,1015,1016,1017,1018,1019,1023,1024
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,negative
3,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,negative
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative

### Feature Importance
"Feature importance gives you a score for each feature of your data, the higher the score more important or relevant is the feature towards your output variable."

"Feature importance is an inbuilt class that comes with Tree Based Classifiers, we will be using Extra Tree Classifier for extracting the top features for the dataset."

-https://towardsdatascience.com/feature-selection-techniques-in-machine-learning-with-python-f24e7da3f36e

In [135]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    

y = data.pop(1024)
X = data

model = ExtraTreesClassifier()
model.fit(X,y)

print(model.feature_importances_) #Use inbuilt class feature_importances of tree based classifiers

feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.sort_values(ascending=True, inplace=True)

#Remove features with importance under 0.001
feat_importances.drop(feat_importances[feat_importances.values < 0.001].index, inplace=True)

feat_importances.sort_values(ascending=True, inplace=True)

feat_importances
feat_importances.shape

[0.00113952 0.00092222 0.00220484 ... 0.0003958  0.00040994 0.00036433]

(324,)

In [136]:
data: pd.DataFrame = pd.read_csv('../datasets/qsar_oral_toxicity.csv', sep=';', header=None)    

store_data = data.copy()
for col in data.columns.tolist():
    if col not in feat_importances.index.tolist() and col != 1024:
        store_data.drop(col, axis=1, inplace=True)

store_data.to_csv(r'../datasets/oral_feature_engineering/feature_selection/importance/ORAL_extraTreeClassifier.csv', index=False, header=False,sep=';')
store_data.head()

,0,2,3,6,7,10,13,14,15,16,...,1000,1005,1007,1008,1009,1012,1015,1017,1018,1024
0,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,negative
1,0,1,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,negative
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,negative
3,0,0,0,0,1,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,negative
4,0,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,negative

<br/>
<br/>
<br/>
<br/>
<br/>

### Create Reduced Datasets

### Univariate Selection
"Statistical tests can be used to select those features that have the strongest relationship with the output variable." - https://towardsdatascience.com/feature-selection-techniques-in-machine-learning-with-python-f24e7da3f36e

Univariate feature selection works by selecting the best features based on univariate statistical tests. It can be seen as a preprocessing step to an estimator. - https://scikit-learn.org/stable/modules/feature_selection.html

#### ANOVA 
ANOVA is an acronym for “analysis of variance” and is a parametric statistical hypothesis test for determining whether the means from two or more samples of data (often three or more) come from the same distribution or not.

In [134]:
import csv


#800 cols -> 32 features of 25 bit each
with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_anova.csv', newline='') as original_data:
    with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_reduced32_anova.csv', 'w', newline='') as reduced_data:
        reader = csv.reader(original_data, delimiter=';')
        writer = csv.writer(reduced_data, delimiter=';')
        for row in reader:
            new_row = []

            i = 0
            new_var = ""
            for bit in row:
                new_var += bit
                if i == 24:
                    new_row.append(new_var)  
                    
                    new_var = ""
                    i = 0
                else:
                    i+=1
                    
            new_row.append(row[-1]) #Append the target variable
                    
            writer.writerow(new_row)

#### Chi-Squared - Filter
"We calculate the chi-square metric between the target and the numerical variable and only select the variable with the maximum chi-squared values." - https://towardsdatascience.com/the-5-feature-selection-algorithms-every-data-scientist-need-to-know-3a6b566efd2

In [133]:
#800 cols -> 32 features of 25 bit each
with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_chi.csv', newline='') as original_data:
    with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_reduced32_chi.csv', 'w', newline='') as reduced_data:
        reader = csv.reader(original_data, delimiter=';')
        writer = csv.writer(reduced_data, delimiter=';')
        for row in reader:
            new_row = []

            i = 0
            new_var = ""
            for bit in row:
                new_var += bit
                if i == 24:
                    new_row.append(new_var)  
                    
                    new_var = ""
                    i = 0
                else:
                    i+=1
                    
            new_row.append(row[-1]) #Append the target variable
                    
            writer.writerow(new_row)

#### Mutual Information - Filter
Mutual information from the field of information theory is the application of information gain (typically used in the construction of decision trees) to feature selection.

Mutual information is calculated between two variables and measures the reduction in uncertainty for one variable given a known value of the other variable.

In [132]:
#800 cols -> 32 features of 25 bit each
with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_mutual.csv', newline='') as original_data:
    with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_reduced32_mutual.csv', 'w', newline='') as reduced_data:
        reader = csv.reader(original_data, delimiter=';')
        writer = csv.writer(reduced_data, delimiter=';')
        for row in reader:
            new_row = []

            i = 0
            new_var = ""
            for bit in row:
                new_var += bit
                if i == 24:
                    new_row.append(new_var)  
                    
                    new_var = ""
                    i = 0
                else:
                    i+=1
            
            new_row.append(row[-1]) #Append the target variable
                    
            writer.writerow(new_row)

#### Mixing

In [154]:
#800 cols -> 32 features of 25 bit each
with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_mixed.csv', newline='') as original_data:
    with open('../datasets/oral_feature_engineering/feature_selection/univariate/ORAL_reduced32_mixed.csv', 'w', newline='') as reduced_data:
        reader = csv.reader(original_data, delimiter=';')
        writer = csv.writer(reduced_data, delimiter=';')
        for row in reader:
            new_row = []

            i = 0
            new_var = ""
            for bit in row:
                new_var += bit
                if i == 24:
                    new_row.append(new_var)  
                    
                    new_var = ""
                    i = 0
                else:
                    i+=1
            new_row.append(row[-1]) #Append the target variable
            
            writer.writerow(new_row)

### Feature Importance
"Feature importance gives you a score for each feature of your data, the higher the score more important or relevant is the feature towards your output variable."

"Feature importance is an inbuilt class that comes with Tree Based Classifiers, we will be using Extra Tree Classifier for extracting the top features for the dataset."

-https://towardsdatascience.com/feature-selection-techniques-in-machine-learning-with-python-f24e7da3f36e

In [162]:
#324 cols -> 30 features of 11 bits each (6 artificially added bits on the last feature)
with open('../datasets/oral_feature_engineering/feature_selection/importance/ORAL_extraTreeClassifier.csv', newline='') as original_data:
    with open('../datasets/oral_feature_engineering/feature_selection/importance/ORAL_reduced30_extraTreeClassifier.csv', 'w', newline='') as reduced_data:
        reader = csv.reader(original_data, delimiter=';')
        writer = csv.writer(reduced_data, delimiter=';')
        for row in reader:
            new_row = []

            i = 0
            new_var = ""
            for bit in row:
                if bit == "negative" or bit == "positive":
                    new_var += "000000" #Add the missing bits
                    new_row.append(new_var)  
                    
                    new_var = ""
                    i = 0
                    break
                    
                new_var += bit
                    
                if i == 10:
                    new_row.append(new_var)  
                    
                    new_var = ""
                    i = 0
                else:
                    i+=1

            new_row.append(row[-1]) #Append the target variable
                   
            writer.writerow(new_row)